* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

main {
	max-width: 1440px;
	min-height: 100%;
	margin: auto;
}

.container {
	margin: 110px 240px 156px 240px;
	display: grid;
}

.top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	font-family: "PT Serif";
	font-size: 16px;
	font-weight: 700;
	width: 278px;
	height: 47px;
}

.text-content {
	width: 439px;
	font-size: 18px;
	font-family: "Poppins";
}

.text-content p {
	margin-top: 10px;
}

.profil-pics-grid {
	display: grid;
	grid-template-columns: repeat(3, 238px);
	grid-template-rows: repeat(auto-fit, 341px);
	gap: 175px 93px;
	margin-top: 173px;
	position: relative;
}

img {
	width: 238px;
	height: 341px;
	
}

.profil-pics-grid span {
	position: absolute;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 12px;
	margin-left: 10px;
}

.profil-pics-grid p {
	font-size: 18px;
	font-weight: 600;
	font-family: "Poppins";
	margin-top: 15px;
}
.bloc2 {
	margin-top: 100px;
}

.bloc5 {
	margin-top: 126px;
}

footer {
	text-align: center;
	padding-top:109px ;
	padding-bottom: 30px;
	font-family: "PT Serif";
}

