* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 1440px;
	height: 1490px;
	margin: auto;
}

.top-content {
	display: flex;
	width: 70%;
	margin: auto;
	padding-top: 110px;
	justify-content: space-between;
}

.title {
	font-family: "PT Serif";
	font-size: 36px;
}

.text-content h2 {
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 700;
}

.text-content p {
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
	width: 440px;
}

.profil-pics-grid {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: auto;
	flex-direction: row;
	margin-top: 96px;
	flex-flow: row wrap;
}

.profil-bloc1 {
	position: relative;
}

.profil-bloc2,
.profil-bloc3,
.profil-bloc4,
.profil-bloc6 {
	position: relative;
	margin-top: 132px;
}

.profil-bloc5 {
	position: relative;
}

.profil-pics-grid img {
	height: 341px;
	width: 238px;
}

.profil-pics-grid span {
	font-family: "PT Serif";
	font-size: 12px;
	margin-left: 10px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	position: absolute;
	top: 0px;
}

.profil-pics-grid p {
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 600;
}

footer {
	display: flex;
	width: 100%;
	justify-content: space-around;
	position: relative;
}

.footer p {
	font-family: "Poppins";
	margin-top: 138px;
	margin-bottom: 10px;
	align-items: center;
	top: 100%;
}

@media screen and (max-width: 1200px) {
	.top-content {
		display: block;
	}

	.text-content h2 {
		margin-top: 38px;
	}

	.text-content p {
		font-size: 14px;
	}

	.profil-pics-grid img {
		height: 220px;
		width: 140px;
	}
}

@media screen and (max-width: 750px) {

	.profil-bloc6 {
		position: relative;
		left: 152%;
		bottom: 30%;
		margin-bottom: 100px;
	}

}
